<ion-header>
  <ion-navbar>
    <ion-title>Edit Matiere</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label floating>Designation</ion-label>
      <ion-input type="text" [(ngModel)]="designation"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>NbHeure</ion-label>
      <ion-input type="text" [(ngModel)]="nbHeure"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Volume Horaire</ion-label>
        <ion-select [(ngModel)]="selectedCOde">
          <ion-option *ngFor="let vh of volumeHoraires" value="{{vh.code}}">{{vh.tauxHoraire}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label floating>Enseignant</ion-label>
        <ion-select [(ngModel)]="selectedMatricule">
          <ion-option *ngFor="let p of professeurs" value="{{p.matricule}}">{{p.nom}}</ion-option>
        </ion-select>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button color="primary" block (click)="updateMatiere()">Mise à jour matiere</button>
  </div>
</ion-content>
